<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>create-blog</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
             <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</head>
<body>
<br><br><br>
<h3><a href="{%  url 'home'%}">HOME</a></h3><br><br>
<center>
<div class="row"><div class="col-12">
                  <div class="card mb-3">
            <div class="card-header">
              <i class="fas fa-table"></i>
           <center> <b>Create here!</b></center></div>
            <div class="card-body">
              <div class="table-responsive">
                <form class="form-horizontal" role="form" action="{% url 'add_b'  %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}<br>

                    Title:

                    <input name="title"  type="text" >
                    <br><br>
                     add image:

                    <input name="file"  type="file" >
				<br><br>

				    Description:
				<br>
                        <textarea name="body" rows="5" cols="30" type="text" ></textarea>
                <br>
                  <input type="radio" name="visible" value="private">private

                  <input type="radio" name="visible" value="public"> public<br><br>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-success">Add</button>
                            </div>
                        </div>
                   <div class="form-group text-danger">
                            {%  for msg in messages %}
                                <h4>{{msg}}</h4>
                            {%  endfor %}
                        </div>
</center>
                    </form>
              </div>
            </div>
          </div>

</div></div>

</body>
</html>